@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-royal-red: #C41E3A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  /* Allow horizontal scroll */
  min-width: 1200px;
  /* Enforce desktop width */
}

/* Custom layout utilities */
.section-full {
  width: 100%;
}

.section-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}